[user]
	name = reesporte
	email = reesedporter@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	puhs = push
	puh = push
	brancg = branch
	dif = diff
	cehckout = checkout
    chekcout = checkout
[pull]
	rebase = true
[init]
	defaultBranch = main
