[user]
	name = reesporte
	email = reesedporter@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	puhs = push
	puh = push
	checkout = cehckout
	branch = brancg
